Weather/Connected Services/CombinedServices/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar5.fulton.asu.edu/Page9/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar5.fulton.asu.edu/Page9/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar5.fulton.asu.edu/Page9/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_temperatureConversion_InputMessage">
    <wsdl:part name="parameters" element="tns:temperatureConversion" />
  </wsdl:message>
  <wsdl:message name="IService1_temperatureConversion_OutputMessage">
    <wsdl:part name="parameters" element="tns:temperatureConversionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Weather5day_InputMessage">
    <wsdl:part name="parameters" element="tns:Weather5day" />
  </wsdl:message>
  <wsdl:message name="IService1_Weather5day_OutputMessage">
    <wsdl:part name="parameters" element="tns:Weather5dayResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_StaffValidation_InputMessage">
    <wsdl:part name="parameters" element="tns:StaffValidation" />
  </wsdl:message>
  <wsdl:message name="IService1_StaffValidation_OutputMessage">
    <wsdl:part name="parameters" element="tns:StaffValidationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveStaffMember_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStaffMember" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveStaffMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStaffMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateStaffMember_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateStaffMember" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateStaffMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateStaffMemberResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="temperatureConversion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/temperatureConversion" message="tns:IService1_temperatureConversion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/temperatureConversionResponse" message="tns:IService1_temperatureConversion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Weather5day">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Weather5day" message="tns:IService1_Weather5day_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Weather5dayResponse" message="tns:IService1_Weather5day_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StaffValidation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/StaffValidation" message="tns:IService1_StaffValidation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StaffValidationResponse" message="tns:IService1_StaffValidation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveStaffMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RemoveStaffMember" message="tns:IService1_RemoveStaffMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemoveStaffMemberResponse" message="tns:IService1_RemoveStaffMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateStaffMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateStaffMember" message="tns:IService1_CreateStaffMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateStaffMemberResponse" message="tns:IService1_CreateStaffMember_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="temperatureConversion">
      <soap:operation soapAction="http://tempuri.org/IService1/temperatureConversion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Weather5day">
      <soap:operation soapAction="http://tempuri.org/IService1/Weather5day" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StaffValidation">
      <soap:operation soapAction="http://tempuri.org/IService1/StaffValidation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveStaffMember">
      <soap:operation soapAction="http://tempuri.org/IService1/RemoveStaffMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateStaffMember">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateStaffMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar5.fulton.asu.edu/Page9/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>